@charset "utf-8";
@font-face {
	font-family: 'OpenSansBold';
	src: url('../fonts/OpenSansBold.eot?') format('eot'), url('../fonts/OpenSansBold.otf') format('opentype'), url('../fonts/OpenSansBold.woff') format('woff'), url('../fonts/OpenSansBold.ttf') format('truetype'), url('../fonts/OpenSansBold.svg#carbon') format('svg');
}
@font-face {
	font-family: 'OpenSansLight';
	src: url('../fonts/OpenSansLight.eot?') format('eot'), url('../fonts/OpenSansLight.otf') format('opentype'), url('../fonts/OpenSansLight.woff') format('woff'), url('../fonts/OpenSansLight.ttf') format('truetype'), url('../fonts/OpenSansLight.svg#helvetica') format('svg');
}
@font-face {
	font-family: 'OpenSansRegular';
	src: url('../fonts/OpenSansRegular.eot?') format('eot'), url('../fonts/OpenSansRegular.otf') format('opentype'), url('../fonts/OpenSansRegular.woff') format('woff'), url('../fonts/OpenSansRegular.ttf') format('truetype'), url('../fonts/OpenSansRegular.svg#helveticaBold') format('svg');
}
@font-face {
	font-family: 'simplifica';
	src: url('../fonts/simplifica.eot?') format('eot'), url('../fonts/simplifica.otf') format('opentype'), url('../fonts/simplifica.woff') format('woff'), url('../fonts/simplifica.ttf') format('truetype'), url('../fonts/simplifica.svg#neo') format('svg');
}
body {
	margin: 0px;
	padding: 0px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #25AAE1;
}
#contenedor {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden
}
#todo {
	position: absolute;
	width: 100%;
	height: 87%;
}
#canvas {
	background-color: #25AAE1;
	left: 50%;
	top: 50%;
	margin-left: -375px;
	margin-top: -270px;
	position: absolute
}
#fondo {
	width: 100%;
	height: 115%;
	position: absolute
}
#loadd {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #25AAE1;
	overflow: hidden;
}
.texto1 {
	position: absolute;
	color: #014c64;
	text-align: center;
	font-family: 'OpenSansBold', Arial;
}
.texto2 {
	position: absolute;
	color: #fff;
	text-align: center;
	font-family: 'OpenSansLight', Arial;
}
.texto3 {
	position: absolute;
	color: #fff;
	text-align: center;
	font-family: 'OpenSansRegula', Arial;
}
.texto4 {
	position: absolute;
	color: #fff;
	text-align: center;
	font-family: 'simplifica', Arial;
}
#clima {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
}
#intro {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
}
#opciones {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	background-image: url(../imagenes/fondo_menu.png);
	background-size: 100% 100%;
}
#mapa {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
}
.dias {
	width: 16%;
	height: 65%;
	position: relative;
	float: left;
	text-align: center;
	font-family: 'OpenSansRegula', Arial;
	color: #FFF;
	top: 20%;
	text-transform: uppercase;
	font-size: 11px;
}
.dias2 {
	width: 16%;
	height: 100%;
	position: relative;
	float: left;
	text-align: center;
	font-family: 'OpenSansRegula', Arial;
	color: #FFF;
	/*text-transform: uppercase;*/
	font-size: 10px;
}
.globito1 {
	position: absolute;
	background-image: url(../imagenes/globito.svg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	top: 0px;
	text-align: center;
	width: 3.8%;
	height: 7%
}
.globito2 {
	position: absolute;
	background-image: url(../imagenes/globito.svg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	top: 0px;
	text-align: center;
	width: 3.8%;
	height: 7%
}
.globito3 {
	position: absolute;
	background-image: url(../imagenes/globito.svg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	top: 0px;
	text-align: center;
	width: 3.8%;
	height: 7%
}
.globito4 {
	position: absolute;
	background-image: url(../imagenes/globito.svg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	top: 0px;
	text-align: center;
	width: 3.8%;
	height: 7%
}
.globito5 {
	position: absolute;
	background-image: url(../imagenes/globito.svg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	top: 0px;
	text-align: center;
	width: 3.8%;
	height: 7%
}
.globito_texto{
		position:absolute;
		width:600%;
		text-align:center;
		bottom:-50%;
		color:#FFFFFF;
		margin-left:-250%;
		font-family:OpenSansLight;
		font-size:16px;
	}
.mapas {
	position: relative;
	float: left;
	background-image: url(../imagenes/mapa.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat
}

.negro{
	font-size:20px;
	text-align:center;
	color:#FFFFFF;
	font-family: OpenSansLight;
	line-height:17px;
}

p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	font-family: OpenSansLight;
	color:#FFFFFF;
	text-align:center
}


.pa {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
	font-family: OpenSansLight;
	color:#FFFFFF;
	text-align:center
}


#puntos{
	width:100%;
	height:100%;
	text-align:center
}





.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	display:none
}


.ui-menu {
	position:absolute;
	left:-100px;
	list-style: none;
	padding: 2px;
	margin: 0;
	display: block;
	outline: none;
	height:400px;
	overflow:hidden;
	background:none;
	color:#FFFFFF;
	font-family: OpenSansLight;
	top:20px;
	width:250px;
	z-index:100
}
.ui-menu .ui-menu-item {
	margin: 0;
	padding: 0;
	border:none;
	background:none;
	height:40px;
	line-height:40px;
	border-bottom:1px solid rgba(0,0,0,.1);
	z-index:100
}


.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 1px solid #fbcb09;
	background: #fdf5ce url(images/ui-bg_glass_100_fdf5ce_1x400.png) 50% 50% repeat-x;
	font-weight: bold;
	color: #c77405;
	padding:2px;
	padding-left:10px; padding-right:10px;
}


